<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add a new asset</title>
</head>
<body>
  <h1>Add a new asset</h1>

  {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
    {% if messages %}                            <!-- check if there are any messages -->
      {% for message in messages %}            <!-- loop through the messages -->
        <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
      {% endfor %}
    {% endif %}
  {% endwith %}

  <form action="/companies/create" method="POST">
    <label for="name">Name: </label> <!-- "name" matches with id attribute for input -->
    <input type="text" id="name" name="name"><br>

    <label for="symbol">Ticker symbol: </label>
    <input type="text" id="symbol" name="ticker_symbol" maxlength="5"><br>

    <label for="exchange">Stock exchange: </label>
    <input type="text" id="exchange" name="stock_exchange"><br>

    <label for="shares">Shares purchased: </label>
    <input type="number" id="shares" name="shares_owned" min="0"><br>

    <label for="cost">Purchase price ($USD): </label>
    <input type="number" id="cost" name="cost_basis" min="0.01" step="0.01"><br>


    <button type="submit">Save</button>
  </form>
</body>
</html>